{% extends 'base.html.twig' %}

{% block title %}Hello HabitatsController!
{% endblock %}

{% block body %}
<style>
body{
	background-color: #26413c;
}
</style>
	<div class="hero-scene text-center text-white">
		<div class="hero-scene-content">

			<h1>Les Habitats</h1>
			<p>Les différents habitats du ZOO Arcadia</p>

		</div>
	</div>
	<article class="text-black">
		{% for habitats in habitats %}
			<div class=" p-4 text-white{% if loop.index is odd %} bg-dark{% endif %}">
				<div class="container p-4">
					<h2 class="text-center text-white p-4">{{habitats.habitatnom}}</h2>
					<div class="row row-cols-1 row-cols-lg-3">
						<div class="col">
							<p class="text-center mt-5">
								{{habitats.habitatdescription | raw}}
							</p>
						</div>
						<div class="col p-3">
							<div class="image-card text-black">
								<img src="/uploads/{{habitats.habitatimage}}" class="rounded w-100" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="container p-4">
		{% set counter = 0 %}
		{% for animals in animals %}
			{% if counter % 3 == 0 %}
				<div class="container p-4">
					<h2 style="text-align:center;text-decoration: underline;">{{ animals.habitatani }}</h2>
					<p class="text-white text-center"> Plus d'informations sur les animaux,cliquez sur les photos </p>
				</div>
			{% endif %}
			<div class= "animauxcenter">
			<div class="row row-cols-1 row-cols-lg-3 justify-content-center">
				<div class="p-3 ">
					<div class="image-card text-black position-relative">
						<a href="/{{animals.prenomani}}" class="img-hover">
							<img src="/uploads/{{ animals.imageani }}" class="rounded w-100" alt="">
							<span class="animal-name-overlay position-absolute top-50 start-50 translate-50-50">{{ animals.prenomani }}</span>
						</a>
					</div>
				</div>
			</div>
			</div>

			{% set counter = counter + 1 %}
		{% endfor %}
	</div>

</article>{% endblock %}
